body {
	width: 95%;
	margin: 0 auto;
	display: block;
	border:0px solid #aaaaaa;
	max-width: 800px;
	line-height: 1.25;
	font-family: MeiryoKe_Gothic, "Ricty Diminished", "Courier New", Courier, Monaco, Menlo, Consolas, "Lucida Console", "Osaka|“™•", "Osaka-“™•", Osaka-mono, "‚l‚r ƒSƒVƒbƒN", "MS Gothic", monospace;
}



